<library path="src">
    <class name="TFBroadcaster"
           type="tf_broadcaster.tf_broadcaster.TFBroadcaster"
           base_class_type="rqt_gui_py::Plugin">
        <description>
            A Python GUI plugin to introspect ROS topics.
        </description>
        <qtgui>
            <group>
                <label>Topics</label>
                <icon type="theme">folder</icon>
            </group>
            <label>tf broadcaster</label>
            <icon type="theme">system-search</icon>
            <statustip>A Python GUI plugin for monitoring ROS topics.</statustip>
        </qtgui>
    </class>
</library>
